<section class="header white_bg shadow ">
    <div class="profiler_section d_flex">
        <div class="profile d_flex">
            <div class="img_wrapper">
                <img src="../../../assets/images/avatar.png" alt="">
            </div>
            <span>{{name}}</span>
        </div>
        <div class="right_nav">
            <div class="">
                <ul class="contact_link d_flex">
                    <li>email</li>
                    <li>call</li>
                </ul>
            </div>
        </div>
    </div>
</section>