@import './variable';

.white_bg {
    background: $white;
}
.white_font {
    color: $white;
}

.d_flex {
    display: flex;
}
.shadow {
    box-shadow: 2px 2px 11px 0px rgba(83, 83, 83, 0.82);
}

.card {
    background: $white;
    border-radius: 10px;
    padding: 20px 15px;
}