@font-face {
    font-family: 'Montserat Regular';
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserat Regular SemiBold';
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
